@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

.home-img img {
  margin: 20px 0px;
  width: 250px;
  height: 150px;
}

.container {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

/* Estilizaçao dos inputs de login da tela principal */
.formulario {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logins {
  margin: 20px 0px 0px;
  width: 100%;
  height: 643px;
  background: linear-gradient(to top, #04345A, #04345A, #00679A);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 30px;
  color: #fff;
}

.log-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 28px;
  gap: 10px;
  color: #8ED7F0;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}

.log-inputs .labelpass {
  font-size: 18px;
  font-weight: 400;
}

.log-inputs input {
  font-size: 16px;
  font-weight: 400;
  width: 375px;
  height: 60px;
  padding: 15px 10px;
  border-radius: 10px;
  border-color: #ff9600;
}

.showPass {
  font-size: 22px;
  position: absolute;
  right: 40px;
  top: 148px;
  cursor: pointer;
  color: #00679A;
}

/* Estilizaçao da checkbox e esqueci senha */
.check-inputs {
  max-width: 375px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px 8px;
  font-size: 16px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.checkbox [type=checkbox] {
  width: 22px;
  height: 22px;
  border: 2px solid #fff;
  border-radius: 6px;
  appearance: none;
  --webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox span {
  border-bottom: 1px solid #fff;
}

.checkbox [type=checkbox]:checked {
  background-color: #ff9600;
  border-color: #ff9600;
}

.check-inputs a {
  border-bottom: 1px solid #fff;
  text-decoration: none;
  color: #fff;
}

/* Estilizaçao do button de login */
.login-button {
  margin: 30px 0px;
  width: 376.55px;
  height: 60px;
  border: none;
  border-radius: 10px;
  background: #ff9600;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

/* Estilizaçao do rodapé de login */
.lines {
  max-width: 375px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
  color: #8ED7F0;
  margin-bottom: 20px;
}

.lines p {
  width: 73px;
  height: 14px;
  font-size: 14px;
  font-weight: 400;
}

.line {
  width: 112px;
  border: 1px solid #fff;
}

/* Estilizaçao de login com Midias */
.midias {
  display: flex;
  font-size: 80px;
  gap: 10px;
  cursor: pointer;
}

/* Estilizaçao do primeiro acesso */
.first {
  margin-top: 28px;
  cursor: pointer;
}

.first a {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid #fff;
  margin: 0px 12px;
}

/* recover password */
/* so deve ser exibida ao clicar no botao esqueci a senha */
.section-recover {
  display: none;
  align-items: center;
  flex-direction: column;
}

.recoverPass {
  width: 341.05px;
  height: 286.33px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid #fff;
  background: #fff;
  padding: 20px;
  position: absolute;
  top: 45%;
  left: 50px;
  animation: bounce-in-bottom 0.8s ease-in;
  transition: all 0.3s;
}

.recoverPass p {
  font-size: 26px;
  font-weight: 700;
  color: #000;
  margin: 0px auto;
}

.inputs-recover {
  max-width: 301.05;
  height: 246.33;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inputs-recover label {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
}

.inputs-recover input {
  width: 299.81px;
  height: 60px;
  border: 1px solid #ff9600;
  padding: 12px 28px;
  border-radius: 10px;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 400;
}

.inputs-recover button {
  width: 301.05px;
  height: 60px;
  border-radius: 10px;
  border: none;
  padding: 0px 10px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  background: #ff9600;
  cursor: pointer;
}

.rememberPass {
  margin-top: 40px;
}

.rememberPass a {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}

/* Estilizaçao da area de cadastro de usuario */
/* Só deve ser exibida ao clicar no botao primeiro acesso*/
.registration {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  border-radius: 30px;
}

.form-Regist {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 15px;
  width: 369px;
  gap: 20px;
  position: relative;
}

.form-Regist h2 {
  font-size: 24px;
  font-weight: 700;
  color: #000;
}

.name, .senha, .confirmaçao, .Email {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.form-Regist label {
  font-weight: 400;
  font-size: 20px;
  padding: 10px 10px 10px 0px;
  color: #000;
}

.form-Regist input {
  padding: 15px 10px;
  width: 369px;
  border-radius: 10px;
  border: 1px solid #ff9600;
  border-color: #ff9600;
}

.form-Regist button {
  background: #ff9600;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  width: 369px;
  height: 60px;
  border-radius: 10px;
  border: none;
  margin: 20px 0px;
  cursor: pointer;
}

.lines-login {
  max-width: 375px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
  color: #000;
  margin-bottom: 20px;
}

.lines-login p {
  width: 73px;
  height: 14px;
  font-size: 14px;
  font-weight: 400;
}

.line-login {
  width: 112px;
  border: 1px solid #000;
}

.logar {
  margin: 20px 0px;
}

.logar a {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #000;
  cursor: pointer;
}

.mostarSenha {
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 175px;
  cursor: pointer;
  color: #00679A;
}

.confirSenha {
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 286px;
  color: #00679A;
  cursor: pointer;
}

.form-Regist.error input {
  border-color: #f30000;
}

.messageError p {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 500;
  color: #f30000;
  margin-top: 3px;
}

/* tela EXCLUSIVA DO ADM  */
/* Estilizaçao da tela para criar questao */
.create-question {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.edit {
  width: 430px;
  height: 100px;
  padding: 8px;
  border-radius: 27px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to top, #04345A, #00679A);
}

.edit p {
  text-align: center;
  flex: 1;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  margin: 29px 15px 0px 0px;
}

.edit img {
  margin-top: 29px;
  width: 22px;
  cursor: pointer;
}

.prepare-question {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #fff;
  border-radius: 10px;
  padding: 0px 15px;
}

.edit-questao {
  display: flex;
  flex-direction: column;
  width: 339px;
  margin: 25px 0px;
}

.edit-questao label {
  font-size: 20px;
  font-weight: bold;
  color: #04345A;
  margin-bottom: 15px;
}

.edit-questao textarea {
  max-width: 339px;
  min-width: 339px;
  max-height: 81px;
  min-height: 81px;
  padding: 8px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  background: #efefef;
  border-color: #ff9600;
}

.area-text {
  position: relative;
}

.text-icon {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 15px;
}

.filter-question {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 339px;
  height: 120px;
  margin-top: 20px;
}

.label-filter {
  font-size: 14px;
  font-weight: 600;
  color: #000;
  margin-bottom: 12px;
}

.search {
  position: relative;
}

.search input {
  width: 339px;
  height: 46px;
  border-radius: 10px;
  border: 1px solid #ff9600;
  padding: 0px 29px;
  font-size: 18px;
  font-weight: 400;
  color: #858585;
}

.search span {
  position: absolute;
  left: 10px;
  top: 14px;
  font-size: 19px;
  color: #858585;
}

.categoria {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin-top: 5px;
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #efefef;
  border-radius: 10px;
  width: 104px;
  height: 30px;
}

.group p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 500;
  color: #858585;
  gap: 5px;
}

.group span {
  margin-top: 3px;
  font-size: 22px;
  cursor: pointer;
  color: #04345A;
}

.gabarito {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 25px;
}

.gabarito button {
  padding: 8px 15px;
  border-radius: 6px;
  border: 1px solid #ff9600;
  display: flex;
  align-items: center;
  gap: 15px;
}

.gabarito .gab-btn1 {
  background: #ff9600;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border: none;
}

.gabarito .gab-btn1 i {
  font-size: 16px;
}

.gabarito .gab-btn2 {
  background: #fff;
  color: #ff9600;
  font-size: 14px;
  font-weight: 500;
}

.gabarito .gab-btn2 i {
  font-size: 16px;
}

.questions {
  margin: 50px 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.question {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 369px;
  height: 72px;
  border-radius: 10px;
  padding: 20px;
  gap: 20px;
}

.question input[type=text] {
  width: 223.03px;
  height: 48px;
  border-radius: 10px;
  padding: 14px 16px;
  border: 1px solid #ff9600;
  font-size: 14px;
  font-weight: 400;
  color: #858585;
}

.input-question {
  position: relative;
}

.question label {
  font-size: 24px;
  font-weight: 700;
  color: #858585;
}

.icon-question {
  position: absolute;
  right: 14px;
  top: 16px;
  font-size: 15px;
  cursor: pointer;
}

.check-question {
  display: flex;
  flex-direction: column;
  position: relative;
}

.check-question label {
  font-size: 10px;
  font-weight: 400;
  color: #858585;
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-color: #858585;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  left: 0.2em;
  top: 0.3em;
  background-color: #fff;
  border-radius: inherit;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.switch input:checked + .slider {
  background-color: #04345A;
}

.switch input:checked + .slider:before {
  transform: translateX(1.5em);
}

/* Tela EXCLUSIVA DO ADM */
/* Estilizaçao da tela de gabarito */
.create-template {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #858585;
  gap: 25px;
}

.itemX {
  display: flex;
  width: 369px;
  height: 57px;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
  gap: 25px;
  background: #fff;
  margin-top: 25px;
  border-radius: 10px;
  background-color: #efefef;
}

.itemX P {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #04345A;
  font-size: 20px;
  font-weight: bold;
}

.itemX button {
  width: 157px;
  height: 27px;
  background-color: #fff;
  color: #ff9600;
  border-radius: 6px;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #ff9600;
  cursor: pointer;
}

.Explication {
  display: flex;
  width: 369px;
  height: 302px;
  margin-top: 25px;
  gap: 10px;
  flex-direction: column;
  border: 1px solid #fff;
  background: #efefef;
  padding: 20px;
  border-radius: 10px;
}

.Explication label {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
}

.explication-text {
  max-width: 100%;
  min-width: 100%;
  min-height: 80%;
  border: 1px solid #ff9600;
  padding: 20px 13px;
  font-size: 14px;
  font-weight: 400;
  color: #858585;
  border-radius: 10px;
}

.saveBtn {
  display: flex;
  align-items: center;
  justify-content: end;
}

.saveBtn button {
  background-color: #ff9600;
  width: 369px;
  height: 60px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  border: none;
  margin: 120px 0px 27px;
  cursor: pointer;
}

#msgError {
  display: none;
  font-size: 18px;
  font-weight: 500;
  color: #f30000;
  margin: 20px 0px 0px;
}

/* Estilizaçao da tela de historico */
.historico {
  display: none;
  flex-direction: column;
}

.search-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

.search-list input {
  display: flex;
  width: 369px;
  height: 53px;
  padding: 19px 17px;
  border-radius: 10px;
  border: 1px solid #858585;
  font-size: 16px;
  font-weight: 400;
}

.result {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 0px 12px 20px;
  gap: 5px;
  position: relative;
}

.historical {
  display: flex;
  padding: 0px 20px;
  gap: 10px;
  width: 95%;
  padding: 15px;
  border-radius: 10px;
  background: #efefef;
}

.textResult {
  font-size: 16px;
  font-weight: 700;
  color: #04345A;
  margin: 30px;
}

.img-historical img {
  width: 77px;
  height: 64px;
  border-radius: 8px;
}

.img-historical {
  display: flex;
  gap: 5px;
  align-items: center;
}

.text-historical {
  display: flex;
  flex-direction: column;
}

.text-historical h2 {
  font-size: 20px;
  font-weight: 700;
  color: #04345A;
}

.text-historical p {
  font-size: 14px;
  font-weight: 400;
  color: #858585;
}

.subText-historical {
  cursor: pointer;
}

.subText-historical span i:hover {
  color: #ff9600;
}

.subText-historical {
  display: flex;
}

.icon-historical {
  position: absolute;
  font-size: 28px;
  top: 10%;
  right: 8%;
  cursor: pointer;
}

.icon-historical i:hover {
  color: #f30000;
}

@keyframes bounce-in-bottom {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  38% {
    transform: translateX(0);
    opacity: 0.3;
  }
  55% {
    transform: translateX(65px);
    opacity: 0.6;
  }
  72% {
    transform: translateX(0);
  }
  81% {
    transform: translateX(28px);
    opacity: 0.6;
  }
  90% {
    transform: translateX(0);
  }
  95% {
    transform: translateX(8px);
    opacity: 0.9;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
